html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  background-color: khaki;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-control {
  margin: 10px 0 10px 0;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

#reset {
  margin-top: 10px;
}

#divCarne,
#divCerveja,
#divBebida {
  margin: 0 auto;
}
